<!DOCTYPE html>
<html>
<head>	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	
	<!-- Site Metadata -->
	<meta name="subject" content="interior design, modern, metro, metropolitan, stylish">
	<meta name="keywords" content="interior design, modern, metro, metropolitan, stylish">
	<meta name="description" content="Designicity showcases high-end interior design products from some of New York City's most original designers.">
	<meta name="creator" content="David Baughman <hello@dmbaughman.com>">
	<meta name="author" content="Elle Ponder">
	
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />

	<title>{{page.title}}</title>
</head>
<body>

    <!-- Start #header -->
    <div id="header">

    </div>
    <!-- End #header -->

	<div id="content">
	{% block body %}
	{% endblock body %}
	</div>

    <!-- Start #footer -->
	<div id="footer">
	
	<ul>
		
	</ul>

	</div>

</body>
</html>