{% extends "blog-base.html" %}

{%- block blog_content %}
	{% for subpage in site.categories['blog']|sort(attribute='datetime', reverse=True) %}
		<div class="article">
			<div class="{% for tag in page.tags %}{{nospace(tag)}} {% endfor %}">
				<div class="row relative">
					<div class="span3">
						<h3 class="span5 flag hidden-phone">{{ subpage.title }}</h3>
						<h4 class="span5 flag visible-phone">{{ subpage.title }}</h4>
						<h3 class="flag noshow hidden-phone">&nbsp;</h3>
						{{ subpage.content|truncate(length=100) }}
						<a href="{{ subpage.url }}">
						    <!-- "Much greater than" symbol -->
						    continue &raquo;
						</a>
		                <ul class="unstyled">
		                    {% for tag in subpage.tags|sort %}
		                        <li>
		                            {{ tag_link(tag, tag) }} 
		                        </li>
		                    {% endfor %}
		                </ul>
						<a href="http://pinterest.com/pin/create/button/?url=http://designicity.com{{ subpage.url }}&media=http://designicity.com{{ subpage.img }}&description={{ subpage.img_alt }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="http://assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>		                
		                
		                					
					</div>
					<div class="span6">
						<a href="{{ subpage.url }}">
							<img class="shadow" src="{{ subpage.img }}" alt="{{ subpage.img_alt }}" />
						</a>
					</div>	
				</div>
			</div>
			<br />
			<br />
		</div>
	{% endfor %}
{%- endblock %}
