{% extends "blog-base.html" %}

{% block blog_content %}
		<div class="row relative">
			<div class="span3">
				<h3 class="span5 flag hidden-phone">{{ page.title }}</h3>
				<h4 class="span5 flag visible-phone">{{ page.title }}</h4>
				<h3 class="flag noshow hidden-phone">&nbsp;</h3>
                <ul class="unstyled">
                    {% for tag in page.tags|sort %}
                        <li class="inline"><small>{{ tag_link(tag, tag) }}</small></li>
                    {% endfor %}
                </ul>					
				{{ page.content }}
                <hr>
				<a href="#modal-{{ page.slug }}" role="button" class="btn modal-btn btn-small" data-toggle="modal"><i class="icon-share-alt"></i> Share</a>
				<a href="#modal-buy-{{ page.slug }}" role="button" class="btn modal-btn btn-small" data-toggle="modal"><i class="icon-shopping-cart"></i> Buy</a>
				<br>
				<br>
				<div class="modal hide fade" id="modal-{{ page.slug }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="hidden-phone">Share  the {{ page.name }}</h3>
						<h4 class="visible-phone">Share  the {{ page.name }}</h4>
						</div>
						<div class="modal-body">
						  <div class="row">
						  	<div class="span2 hidden-phone">
							  	<img src="{{ page.img }}" alt="{{ page.img_alt }}"/>
						  	</div>
						  	<div class="span3">
						  		<p>Thanks for sharing the {{ page.name }} with your friends&mdash;you must have excellent taste!</p>
						  		<p>Use one of the social links below to share on your preferred social network.</p>
						  		<p class="standout pull-right">~ Elle</p>
						  	</div>
						  </div>
					</div>
					<div class="modal-footer">
						<div class="span4 pull-left">
						    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fdesignicity.dmbaughman.com{{ page.url }}&media=http%3A%2F%2Fdesignicity.dmbaughman.com{{ page.img }}&description={{ page.img_alt }}"
						    		class="pin-it-button" 
						    		count-layout="none">
						    	<img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
						    </a>
							<a href="https://twitter.com/share" class="twitter-share-button" 
									data-url="http://designicity.dmbaughman.com{{ page.url }}" 
									data-text="{{ page.img_alt }}" 
									data-related="designicity" 
									data-count="none" 
									data-dnt="true">Tweet
							</a>	
							<div class="fb-like" data-href="http://designicity.dmbaughman.com" 
									data-send="false" 
									data-layout="button_count" 
									data-width="450" 
									data-show-faces="true">
							</div>								    
						</div>
						<button class="btn btn-small hidden-phone" data-dismiss="modal" aria-hidden="true">
							<i class="icon-remove"></i> Close
						</button>
					</div>
				</div>	


				<div class="modal hide fade" id="modal-buy-{{ page.slug }}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="hidden-phone">Buy  the {{ page.name }}</h3>
						<h4 class="visible-phone">Buy  the {{ page.name }}</h4>
					</div>
					<div class="modal-body">
					  <div class="row">
					  	<div class="span2 hidden-phone">
						  	<img src="{{ page.img }}" alt="{{ page.img_alt }}"/>
					  	</div>
					  	<div class="span3">
						  	<p>Hi there&mdash;I'm excited to see you love the {{ page.name }} as much as I do!</p>
						  	<p>Click the "buy" button below to send me an email so I can help you add this to your favorite living space.</p>
						  	<p class="standout pull-right">~ Elle</p>
					  	</div>
					  </div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-small hidden-phone" data-dismiss="modal" aria-hidden="true">
							<i class="icon-remove"></i> Close
						</button>
						<a class="btn btn-small btn-primary" href="mailto:hello@designicity.com?subject=Designicity%20-%20{{ page.name }}">
							<i class="icon-shopping-cart icon-white"></i> Buy
						</a>
					</div>
				</div>	



			</div>				
			<div class="span6">
				<img class="shadow" src="{{ page.img }}" alt="{{ page.img_alt }}" />
				{% for img in page.moar_img %}
				<br>
				<br>
				<br>
				<img class="shadow" src="{{ img }}" alt="{{ page.img_alt }}" />
				{% endfor %}
			</div>
		</div>
		<br />
		<br />
{% endblock %}
